version: '3.9'
services:
  backend:
    build: .
    container_name: expense_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: expense_db
    environment:
      POSTGRES_USER: vegakash_user
      POSTGRES_PASSWORD: vegakash_password
      POSTGRES_DB: vegakash_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - REACT_APP_API_URL=http://localhost:8000
    container_name: vegakash_frontend
    environment:
      - REACT_APP_API_URL=http://localhost:8000
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  pgdata:
